In [2]:
import pandas as pd 
import numpy as np

In [36]:
float_nums = np.random.random(5)
series = pd.Series(float_nums)

int_nums = np.random.random_integers(1,5,size=5)
df = pd.DataFrame(int_nums,columns=['test'])

C:\Users\anees\AppData\Local\Temp\ipykernel_11788\1152829729.py:4: DeprecationWarning: This function is deprecated. Please call randint(1, 5 + 1) instead
  int_nums = np.random.random_integers(1,5,size=5)

In [23]:
series.head()

0    0.391089
1    0.278963
2    0.279043
3    0.114639
4    0.952495
dtype: float64

In [37]:
df.head()

   test
0     3
1     1
2     3
3     1
4     5

In [43]:
df_series = pd.concat([df,series])
df_series

   test         0
0   3.0       NaN
1   1.0       NaN
2   3.0       NaN
3   1.0       NaN
4   5.0       NaN
0   NaN  0.069599
1   NaN  0.041734
2   NaN  0.702720
3   NaN  0.178373
4   NaN  0.671268

In [52]:
print(df_series.iloc[1])
print(df_series.iloc[5])

test    1.0
0       NaN
Name: 1, dtype: float64
test         NaN
0       0.069599
Name: 0, dtype: float64

In [61]:
df_merged = pd.merge(df_series,df)
df_merged

   test   0
0   3.0 NaN
1   3.0 NaN
2   1.0 NaN
3   1.0 NaN
4   3.0 NaN
5   3.0 NaN
6   1.0 NaN
7   1.0 NaN
8   5.0 NaN

In [63]:
float_nums_2 = np.random.random(5)
series2 = pd.Series(float_nums)
series2

0    0.069599
1    0.041734
2    0.702720
3    0.178373
4    0.671268
dtype: float64

In [75]:
series2.to_frame()
print(series2)
print(df)

0    0.069599
1    0.041734
2    0.702720
3    0.178373
4    0.671268
dtype: float64
   test
0     3
1     1
2     3
3     1
4     5

In [79]:
df_merged2 = pd.concat([series2,df])
print(df_merged2)

df_merged3 = pd.merge(df_series,df)
df_merged3

          0  test
0  0.069599   NaN
1  0.041734   NaN
2  0.702720   NaN
3  0.178373   NaN
4  0.671268   NaN
0       NaN   3.0
1       NaN   1.0
2       NaN   3.0
3       NaN   1.0
4       NaN   5.0

   test   0
0   3.0 NaN
1   3.0 NaN
2   1.0 NaN
3   1.0 NaN
4   3.0 NaN
5   3.0 NaN
6   1.0 NaN
7   1.0 NaN
8   5.0 NaN